<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tienda_ropa?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="hibernate.cache.use_minimal_puts">true</property>
    <property name="hibernate.transaction.flush_before_completion">true</property>
    <mapping resource="Modelos/Coleccion.hbm.xml"/>
    <mapping resource="Modelos/CampaniaRopa.hbm.xml"/>
    <mapping resource="Modelos/Usuarios.hbm.xml"/>
    <mapping resource="Modelos/Campania.hbm.xml"/>
    <mapping resource="Modelos/Cesta.hbm.xml"/>
    <mapping resource="Modelos/Fotos.hbm.xml"/>
    <mapping resource="Modelos/Categoria.hbm.xml"/>
    <mapping resource="Modelos/Color.hbm.xml"/>
    <mapping resource="Modelos/Favoritos.hbm.xml"/>
    <mapping resource="Modelos/Ropa.hbm.xml"/>
    <mapping resource="Modelos/Provincias.hbm.xml"/>
    <mapping resource="Modelos/Marcas.hbm.xml"/>
    <mapping resource="Modelos/Paises.hbm.xml"/>
    <mapping resource="Modelos/Subcategoria.hbm.xml"/>
    <mapping resource="Modelos/Look.hbm.xml"/>
    <mapping resource="Modelos/FacturaDetalle.hbm.xml"/>
    <mapping resource="Modelos/Tallas.hbm.xml"/>
    <mapping resource="Modelos/Facturas.hbm.xml"/>
    <mapping resource="Modelos/Clientela.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
