/*Clases Sueltas*/
.display_B {
    display: block;    
}
.pointer{
    cursor: pointer;
}
.no_Decoration {
    text-decoration: none;    
}

/*Fin de Clases Sueltas*/
#todo {
    width: 80%;    
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1200px;
}

#header {
    padding-top: 10px;
    padding-bottom: 130px;
    
}
#header a{
    text-decoration: none;
}
#header a{
    
}
#header div:hover{
    
    text-decoration: none;
}
#introduccion{
    background-color: #cc0033;
    color: white;
    height: 5px;
    font-size: 30px;
}
#marca{
    float: left;
    padding-top: 25px;
    padding-left: 500px;
    font-family: fantasy;
    font-size: 40px;
}
#idioma{
    position: absolute;
    margin-left: 10px;
    top:6px;
}
#idioma img{
    width: 20px;    
}
#logo{
    width: 80px;
    padding-left: 15px;
}
#cesta {
    position: relative;
    margin-left: 1130px;
    margin-top: -40px;        
    padding-right: 20px;
    float: right;
}
#cesta:hover #cantidad_Cesta{
    -webkit-transform:scale(1.2);
    -webkit-transition: .2s;
}
#cesta:not(:hover) #cantidad_Cesta{        
    -webkit-transition: .2s;
}

#imgcesta{
    width: 55px;    
}
#imgcesta_Titulo{
    width: 45px;    
}
#cantidad_Cesta{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    background-color: red;
    color: white;
    width: 21px;
    padding-top: 1px;
    text-align: center;
    border-radius: 10px 10px;
    font-weight: bold;
    display: none;
}

#iniciar_Sesion{
    position: absolute;
    margin-left: 1120px;
    margin-top: -13px;
    padding-bottom: 10px;
}
#iniciar_Sesion img{
    width: 43px;
}
#iniciar_Sesion:hover #login{
    display: block;    
}
#iniciar_Sesion:hover #mi_Cuenta_Txt{
    color: #5383d3;    
}
#mi_Cuenta_Txt{
    width: 65px;
    color: black;
}
#mi_Cuenta_Txt:hover{
    color: #5383d3;
}
#login {    
    position: absolute;  
    right: -10px;
    width: 195px;
    background-color: #e4e4e4;
    border-radius: 10px 10px 10px 10px;
    border-color: green;  
    text-align: center;
    display: none;
    margin-top: 10px;
    z-index: 10;
}
#login td{
    padding: 5px;
    margin: 0 auto; 


}
#login input{
    height: 25px;
    width: 150px;
    background-color: white;
}
#login button{
    font-size: 11px;
    color: black;    
}
#login2 {    
    position: absolute;  
    margin-left: 1060px;
    margin-top: 50px;
    width: 140px;
    height: 70px;
    background-color: #e4e4e4;
    border-radius: 10px 10px 10px 10px;
    border-color: green;  
    text-align: center;

}
#login2 td{
    padding-top: 5px;
}

#login2 button{
    font-size: 11px;
    color: black;    
}
#apadrina{
    position: absolute;    
    margin-left: 910px;
    top: -65px;    
    text-align: center;
    padding-bottom: 100px;
    width: 70px;
}
#apadrina img{
    margin-top: 0px;
    width: 45px;
}
#apadrina_Txt{    
    position: absolute;
    margin-top: 70px;
    margin-left: -6px;
    color: black;
}
#apadrina_Txt:hover{    
    color: #5383d3;
}
#apadrina:hover #apadrina_Txt{
    display: block;
}
#quienes_Somos{
    position: absolute;
    width: 25px;
    top: 5px;
    margin-top: 0px;
    margin-left: 780px;
    text-align: center;
    width: 100px;
}
#quienes_Somos_Txt{    
    position: absolute;
    margin-top: 0px;
    left:  -100px;
    color: black;
}
#quienes_Somos_Txt:hover{    
    color: #5383d3;
}
#quienes_Somos img{
    width: 40px;
}
#quienes_Somos:hover #quienes_Somos_Txt{
    display: block;
}
#contacto{
    position: absolute;
    top: -65px;
    margin-top: 0px;
    margin-left: 830px;
    text-align: center;
    padding-bottom: 100px;
    width: 90px;
}
#contacto img{
    width: 45px;
}
#contacto_Txt{    
    position: absolute;
    margin-top: 70px;
    margin-left: -5px;
    color: black;
}
#contacto_Txt:hover{    
    color: #5383d3;
}
#contacto:hover #contacto_Txt{
    display: block;
}
#lista_Deseos{
    width: 130px;
    position: absolute;
    margin-left: 980px;
    margin-top: -13px;
    color: white;
}
#lista_Deseos_Txt{
    color: black;
}
#lista_Deseos_Txt:hover{
    color: #5383d3;
}
.glyphicon glyphicon-star{
    color:white;
}
.sin_Decoracion{
    color: black;
}
#menu{        
    height: 50px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.42857143;
    
}
#menu ul{        
    margin-left: 0px;    
}
.linea{
    clear:both;
    background-color: #cc0033;
    height: 2px;
}
#menu_Desplegable{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding-bottom: 10px;    
}
#menu_Desplegable:hover #menu_Tabla{    
    display: block;      
}
.menu_lista{

}
#menu_Tabla{
    position: absolute;
    margin-top: 10px;
    background-color: #fafafa;
    padding: 10px; 
    font-size: 18px;
    width: 150px;
    display: none;
}
#menu_Tabla a{
    color: black;
    text-decoration: none;
}
#menu_Tabla a:hover{
    color: #5383d3;
    text-decoration: none;
}

.glyphicon{
    color: black;
}
#menu_Tabla tr{
}
#menu_Tabla td{
    padding-bottom: 10px;
    padding-top: 10px;    
}
.con_Borde{
    border-bottom:  solid 1px #dadada; 
}
#filtro { 
    margin-left: 940px;
    margin-right: 10px;
    position: absolute;
}
#contenido {
    clear: both;                 
}
#slider{
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
}
.imgcarrusel{
    width: 100%;
}
#campañas_Titulo{
    margin-left: 30px;
    margin-top: 0px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}
#marcas_Titulo{
    margin-left: 30px;
    margin-top: 50px;
    text-align: left;
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
}
#productos {
    margin-top: -70px;
    margin-left: 35px;
}
.descuento{
    position: relative;
    top: 260px;
    background-color: black;
    left: 0px;
    color: white;
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 0px;
    z-index: 1;    
    
}
.descuento_Txt{
    margin-right: 200px;
}
.validez_Txt{
    position: absolute;
    top: 10px;
    right: 10px;
}
#contenido{
    margin: 0 auto;
    text-align: center;
    clear: both;
}
#campagnas img{
    width: 350px;
    height: 250px
}
#lineaprimera{

}
#productos img{
    width: 265px;
    
    
}
.imgproducto{
    float: left;
    padding: 10px;
    margin-top: 30px;
    margin-left: 25px;   

}
#productos img:hover{
    opacity: 0.6;    
    cursor: pointer;
    box-shadow: #8f9296 5px 5px 10px;     

}
#productos img:hover .descuento{
    z-index: 1;
    opacity: 0;    
     

}
.imgproducto td{
    padding-top: 10px;    
}
.lprimera {
    display: inline;
    color: red;
    font-size: 50px;
}
#marcas{
    margin-top: 50px;
    padding-left: 50px;
}
#marcas img{
    width: 300px;
    height: 200px;
    margin-right: 50px;
    

}
#marcas img:hover{
    opacity: 0.6;
    cursor: pointer;
    box-shadow: #8f9296 5px 5px 10px;     
}
.img_Marcas{
    float: left;    
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 25px;   

}


/*
Incio del los estilos del Desplegable
*/


.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;


}
/*Fin del Desplegable*/


#cookies {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
    background-color: #cccccc;
}
#footer {
    width: 100%;
    clear: both;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
#tipo_Pago{
    margin-left: 20px;
}
#tipo_Pago img{
    width: 40px;
    
}
#tipo_Transporte{
    margin-left: 0px;
}
#tipo_Transporte img{
    height: 30px;
    width: 4em;
}
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
/* Parte de las Categorias */
#ruta_Navegacion{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
#nombre_Categoria{
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}
hr{
    color: #292c2f;
    border: solid 10px;
}
#botones_Galeria{
    position: relative;
    margin-top: -50px;
    background-color: black;
    width: 266px;
    height:  50px;
    display: none;
    opacity: 1;        
}
#botones_Galeria img{
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 45px;            
}
.botones_prueba:hover #botones_Galeria{
    -webkit-transition: 0.5s;
    display: block;        
}
#vista_Rapida{ 
    position: absolute;
    width: 190px;
    margin-top: -270px;
    left: 10px;
    background-color: white;     
    box-shadow: #8f9296 5px 5px 10px;
    display: none;
}
#vista_Rapida_Img{
    position: absolute;
}
#vista_Rapida_Img:hover #vista_Rapida{
    display: block;   
    -webkit-transition: 0.5s;
}

/*Detalles*/
.color_Box{
    border: 1px #999999 solid; 
    border-radius: 5px;
}
.color_Box:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: .2s;
}
.color_Box:not(:hover){    
    -webkit-transition: .2s;
}
#color1{
    width: 20px;
    height: 20px;
    /*background-color: #F00;  eliminar esta línea, agregar la de margen-right y se puede eliminar todo #color2 que ya no se usa*/ 
    float: left;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
#color2{
    width: 20px;
    height: 20px;
    background-color: #ffc68e;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.color_Elegido{
    opacity: 0.3;
    border: 2px solid black;
    -webkit-transform: scale(1.2);
}
.color_No_Elegido{
    opacity: 1;
}
.color_No_Elegido:hover{
    -webkit-transform: scale(1.2);
    -webkit-transition: .2s;
    border: 1px solid black;
}
.color_No_Elegido:not(:hover){    
    -webkit-transition: .2s;
}

#contenido_Detalles a{
    text-decoration: none;
}
.nombre_Detalle{
    font-size: 50px;
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.img_Principal{
    margin-left: 0px;
    width: 400px;
    float: left;
}
.img_Principal:hover{
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    -webkit-transition: .2s;    
}
.detalle_info {
    margin-left: 700px;
    padding-top: 50px;
    margin: 0 auto;
    margin-left: 100px;
    float: left;
}
.detalle_info table thead{
    padding-bottom: 500px;
}
.detalle_info td{
    padding-right: 100px;
    padding-bottom: 40px;

}
.mas_Fotos {
    position: absolute;
    margin-top: 0px;
    margin-left: 130px;


}
.mas_Fotos tr{
    margin-bottom: 100px;
}
.mas_Fotos img{
    width: 80px;

}
.mas_Fotos td{
    padding-right: 0px;
    padding-bottom: 0px;
}

.mas_Fotos img:hover{
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    -webkit-transition: .2s;
    -webkit-transform:scale(1.05);
}
#añadircesta_Btn{
    background-color: #cc0033;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
    text-align: center;
}
#añadircesta_Btn:hover {
    -webkit-transform:scale(1.1);
    -webkit-transition: .2s;
}
#añadirfavoritos_Btn{
    background-color: #292c2f;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
    text-align: center;
}
#añadirfavoritos_Btn:hover{
    -webkit-transform:scale(1.1);
    -webkit-transition: .2s;

}

#añadircesta_Btn a{

    text-decoration: none;
}

/*Detalles Cesta*/

#N1{
    position: absolute;
    width: 50px;
    margin-left: 450px;
    margin-top: 10px;
}
#cesta_Alert{
    font-size: 10px;
}

#cesta_Hover{
    position: absolute;
    width: 180px;
    height: 230px;
    display: none;
    font-size: 12px;
    background-color: #eeeeee;
    color: #575151;
    padding: 5px;
    border-radius: 5px;
    top: 55px;
    right: 0px;
    z-index: 1;
    box-shadow: 5px 5px 10px;
    overflow-y: scroll;    
    overflow-x: hidden ;  
}
#cesta_Hover td{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
#cesta_Hover::-webkit-scrollbar {
    width: 1em;
    
    cursor: pointer;
}

#cesta_Hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
#cesta_Hover::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    background-color: #e30101;    
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    opacity: 0.5;
}
.desplegar_Cesta:hover #cesta_Hover{
    display: block;
}
.descripcion_CestaPreview{
    padding-bottom: 50px;
}
.img_CestaPreview img{
    height: 50px;
    padding-left: 2px;
}
.linea_CestaPreview{
    color: grey; height: 0px; width: 140px; border-top: solid 0.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#realizar_Pedido{
    margin: auto;
    text-align: center;
    padding-top: 0px;
    background-color: red;
    width: 80px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: -10px;
}
#realizar_Pedido {
    text-decoration: none;
}
#realizar_Pedido:hover{
    -webkit-transform:scale(1.05);
    -webkit-transition: .2s;
    cursor: pointer;
}
#realizar_Pedido:not(:hover){    
    -webkit-transition: .3s;
}
.btn_RealizarPedido{    
    color: white;    
}

/*Cesta*/
.detalle_info_Cesta {
    margin-left: 700px;
    padding-top: 0px;
    margin: 0 auto;
    margin-left: 100px;
    float: left;
}
.detalle_info_Cesta td{
    padding-right: 100px;
    padding-bottom: 0px;
}
#cesta_Titulo{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 100px;
}
#contenido_Detalles{       
    margin-top: 50px;
}
#contenido_Detalles img{
    margin-bottom: 10px;
    padding: 5px;
}
#contenido_Detalles input{    
    width:40px;
}
.bold{
    font-weight: bold;
}
.detalle_info{
    margin: 0 auto;
    margin-left: 100px;
    float: left;
}
#pagar{
    position: absolute;    
    background-color: #e7e6e6;
    border-radius: 10px;
    padding: 10px;    
}
#contenedor_Pagar {
    position: absolute;
    width: 500px;
    float: right;
    top: 260px;                               
    margin-left: 600px;
}                    
#pagar.fixed {
    position: fixed;
    top: 20px;
}    
.apartados_Pagar{
    padding-bottom: 50px;
}
.titulo_Producto_Cesta{    
    color: #4a4a4a;
}
.titulo_Producto_Cesta:hover{    
    color: #5383d3;
}
.btn_Elminar_Producto{
    width: 60px;    
    text-align: center;
    margin-left: 6px;
    background-color: #4a4a4a;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.btn_Elminar_Producto:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: .3s;
}
.btn_Elminar_Producto:not(:hover){    
    -webkit-transition: .3s;
}
#metodo_Img{
    width: 200px;
}
#cesta_Img{
    width: 120px;
    
}
#cesta_Img:hover{
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    -webkit-transition: .2s;
    -webkit-transform: scale(1.02);    
}
#cesta_Img:not(:hover){    
    -webkit-transition: .2s;      
}

/*PDF*/

#imprimir_Factura{
    font-size: 20px;
    background-color: #cc0033;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 170px;    
    text-align: center;    
}
#imprimir_Factura:hover{
    -webkit-transition: .2s;
    -webkit-transform:scale(1.05);
}

